<div id="basic_line_chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script type="text/javascript">
$(function () {
  $('#basic_line_chart').highcharts({
    title: {
      text: 'basic line chart',
            x: -20 //center
          },
          subtitle: {
            text: 'Source: http://openweathermap.org/',
            x: -20
          },
          xAxis: {
            categories: ['IN', 'UK', 'US', 'IQ', 'IR']
          },
          yAxis: {
            title: {
              text: 'Temperature (°C)'
            },
            plotLines: [{
              value: 0,
              width: 1,
              color: '#808080'
            }]
          },
          tooltip: {
            valueSuffix: '°C'
          },
          legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
          },
          series: [{
            name: 'Temperature',
            data: <%= @tmp_arry %>
          }]
        });
});
</script>